@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #101417;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #13293f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.main {
  display: flex;
  max-width: 1024px;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  color: #e6f2ff;
}

.svg {
  width: 5.5rem;
  height: 5.5rem;
  display: block;
  margin: 0 auto;
}

h1 {
  line-height: 1;
  font-size: 3rem;
}

section {
  min-width: 400px;
  display: block;
  border-color: #edf0f2;
  border-top: 0.01rem solid;
  margin-top: 3rem;
  padding-top: 3rem;
}

a {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  color: #e6f2ff;
  background-color: transparent;
  text-decoration: none;
  transition: 0.2s;
}
