body {
    font-family: Arial, Helvetica, sans-serif;

}

.fl {
    display: flex;
}

.fl.vert {
    flex-direction: column;
}

.fl.center {
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #33d684;
}

.list > div {
    display: list-item;
}

.tg-item {
    margin: 1rem;
}

.tg-button {
    font-family: 'Roboto', sans-serif;
    background: #33d684;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 100%;
    color: #FFF;
    background: #5dc390;
    border-radius: 2rem;
    overflow: hidden;
    display: inline-block;
    padding: 15px 27px 13px;
    text-transform: uppercase;
    margin-top: 2rem;
}

h1 {
    padding-top: 2rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

h2 {
    color: rgb(75, 172, 238);
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 3rem;
}

h4 {
    color: #666;
    margin-bottom: 2rem;
}

iframe.discord-widget {
    margin-top: 1rem;
}


@media screen and (max-width: 800px), screen and (max-device-width: 1200px) {
    .fl {
        flex-direction: column;
    }
}